{% extends "Main.html" %} 
{% block content %}
{% if user.is_authenticated %}
    <script>
        {% if next %}  window.location.href="{{ next }}" {% else %}
            window.location.href="/" 
        {% endif %}
    </script>
{% else %}
    <div style="text-align: center;"> <h1> Register </h1> </div>   
    <form method="post">  
        <div class="container">   
            {% csrf_token %}
            {{ form.as_p }}
            <br/> <span><strong style="display: inline-block">Already have an account ?</strong>  <a href="{% url 'login' %}?next={{ request.GET.next }}">Login</a></span>
            <button type="submit" style="font-weight: 600;font-size: 18px">Create account</button> 
            <input type="hidden" name="next" value="{{ next }}" />
        </div>   
    </form>
    
{%  endif %} 
{% endblock %}